:root {
  --ld: "Lexend Deca", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background-color: #000;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  backdrop-filter: blur(1px);
  top: 0;
  right: 0;
  left: 0;
  padding: 10px;
  z-index: 9999;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

header .logo a {
  font-family: var(--ld);
  font-weight: 500;
  color: #fff;
}

header .logo img {
  mix-blend-mode: multiply;
}

header .navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .navbar a {
  font-family: var(--ld);
  color: #fff;
  transition: 0.2s ease-in;
}

header .navbar a:hover {
  color: #c2c2c2;
}

header .extra-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .extra-nav a {
  color: #fff;
}

header .extra-nav a i {
  color: #fff;
  font-size: 22px;
  transition: 0.1s ease-in;
}

header .extra-nav a i:hover {
  color: #c2c2c2;
}

header .extra-nav .login,
header .extra-nav .register {
  font-family: var(--ld);
  color: #fff;
}

header .extra-nav .register {
  padding: 10px;
  border: 3px solid #fff;
  border-radius: 5px;
  transition: 0.2s ease-in;
}

header .extra-nav .register:hover {
  background-color: #fff;
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
}

main .hero {
  min-height: 100vh;
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
}

main .hero .content {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  backdrop-filter: brightness(30%);
}

main .hero .content .c-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  gap: 1rem;
  margin-left: -5rem;
  font-family: var(--ld);
}

main .hero .content .c-1::before {
  content: "";
  position: absolute;
  border-left: 1px solid #fff;
  padding: 1px;
  height: 50%;
  margin-left: -20px;
}

main .hero .content .c-1::after {
  content: "";
  position: absolute;
  border-left: 1px solid #fff;
  padding: 1px;
  height: 30%;
  margin-left: -40px;
}

main .hero .content .c-1 h1 {
  color: #d6d6d6;
  font-size: 3.5rem;
  font-weight: 400;
}

main .hero .content .c-1 p {
  color: #fff;
  font-size: 1rem;
  text-align: justify;
  font-weight: 300;
  margin-bottom: 10px;
  width: 85%;
}

main .hero .content .c-1 .row-1 {
  display: flex;
  gap: 2rem;
}

main .hero .content .c-1 .row-1 a:nth-child(1) {
  display: flex;
  font-family: var(--ld);
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
  width: 27%;
  border: 3px solid #fff;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

main .hero .content .c-1 .row-1 a:nth-child(1):hover {
  background: #fff;
  color: #000;
}

main .hero .content .c-1 .row-1 a:nth-child(2) {
  display: flex;
  font-family: var(--ld);
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 10px;
  background-color: #fff;
  width: 27%;
  border-radius: 10px;
  transition: 0.2s ease-in;
}

main .hero .content .c-1 .row-2 {
  display: flex;
  gap: 0.7rem;
}

main .hero .content .c-1 .row-2 i {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.8s ease-in;
}

main .hero .content .c-1 .row-2 i:hover {
  transform: rotateY(360deg);
}

main .hero .content .c-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -5rem;
  right: 0;
}

main .guide {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../img/guide-bg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .guide .title,
main .book .title {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .guide .title h1,
main .book .title h1 {
  color: #fff;
  font-size: 36px;
}

main .guide .title p,
main .book .title p {
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 30%;
}

main .guide .content {
  display: flex;
  gap: 5rem;
  margin: 2rem 4rem;
  justify-content: center;
}

main .guide .content::before {
  position: absolute;
  display: flex;
  content: "";
  border-bottom: 2px solid #fff;
  justify-content: center;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 8%;
  margin-top: 38.5%;
  width: 87%;
}

main .guide .content .col-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}

main .guide .content .col-1 .col-1-title h3 {
  color: #fff;
  font-size: 42px;
}

main .guide .content .col-1 .description p {
  text-align: justify;
  color: #fff;
  font-weight: 200;
}

main .guide .content .col-1 .shape {
  display: flex;
  gap: 0.7rem;
}

main .guide .content .col-1 .shape .shape-1 {
  padding: 5rem;
  background: #e82c3d;
  width: 8%;
  border-radius: 0 500px 500px 0;
}
main .guide .content .col-1 .shape .shape-2 {
  padding: 5rem;
  background: #b0b1b6;
  width: 8%;
  border-radius: 50%;
}

main .guide .content .col-1 .shape .shape-3 {
  padding: 5rem;
  background: #4969d8;
  width: 15%;
  border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%;
}

main .guide .content .col-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.1rem;
}

main .guide .content .col-2 .row-1,
main .guide .content .col-2 .row-2,
main .guide .content .col-2 .row-3,
main .guide .content .col-2 .row-4,
main .guide .content .col-2 .row-5 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main .guide .content .col-2 .row-1 .title-1,
main .guide .content .col-2 .row-2 .title-2,
main .guide .content .col-2 .row-3 .title-3,
main .guide .content .col-2 .row-4 .title-4,
main .guide .content .col-2 .row-5 .title-5 {
  display: flex;
  gap: 1.3rem;
  width: 100%;
}

main .guide .content .col-2 .row-1 .title-1::before,
main .guide .content .col-2 .row-2 .title-2::before,
main .guide .content .col-2 .row-3 .title-3::before,
main .guide .content .col-2 .row-4 .title-4::before,
main .guide .content .col-2 .row-5 .title-5::before {
  content: "";
  position: absolute;
  width: 38%;
  margin-top: 2.8rem;
  border-bottom: 1px solid #fff;
}

main .guide .content .col-2 .row-1 .title-1 h1,
main .guide .content .col-2 .row-2 .title-2 h1,
main .guide .content .col-2 .row-3 .title-3 h1,
main .guide .content .col-2 .row-4 .title-4 h1,
main .guide .content .col-2 .row-5 .title-5 h1 {
  color: #e82c3d;
  font-size: 36px;
}

main .guide .content .col-2 .row-1 .title-1 h5,
main .guide .content .col-2 .row-2 .title-2 h5,
main .guide .content .col-2 .row-3 .title-3 h5,
main .guide .content .col-2 .row-4 .title-4 h5,
main .guide .content .col-2 .row-5 .title-5 h5 {
  color: #d6d6d6;
  margin-top: 13px;
  font-size: 22px;
}

main .guide .content .col-2 .row-1 .desc-1 p,
main .guide .content .col-2 .row-2 .desc-2 p,
main .guide .content .col-2 .row-3 .desc-3 p,
main .guide .content .col-2 .row-4 .desc-4 p,
main .guide .content .col-2 .row-5 .desc-5 p {
  text-align: justify;
  width: 90%;
  font-size: 13.3px;
  color: #fff;
  font-weight: 300;
}

main .book {
  display: flex;
  flex-direction: column;
  background-image: url(../img/book-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

main .book .content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;
  width: 90%;
}

main .book .content .col-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

main .book .content .col-1 h1 {
  color: #fff;
  font-size: 42px;
}

main .book .content .col-1 h1 span {
  color: #e82c3d;
}

main .book .content .col-1 .description {
  color: #cdcdce;
  text-align: justify;
  width: 80%;
}

main .book .content .col-1 .row-1,
main .book .content .col-1 .row-2 {
  display: flex;
  gap: 2rem;
}

main .book .content .col-1 .row-1 .group-1,
main .book .content .col-1 .row-1 .group-2,
main .book .content .col-1 .row-2 .group-1,
main .book .content .col-1 .row-2 .group-2 {
  display: flex;
  flex-direction: column;
}

main .book .content .col-1 .row-1 .group-1 h6,
main .book .content .col-1 .row-1 .group-2 h6,
main .book .content .col-1 .row-2 .group-1 h6,
main .book .content .col-1 .row-2 .group-2 h6 {
  font-size: 28px;
  color: #fff;
}

main .book .content .col-1 .row-1 .group-1 h6 span,
main .book .content .col-1 .row-1 .group-2 h6 span,
main .book .content .col-1 .row-2 .group-1 h6 span,
main .book .content .col-1 .row-2 .group-2 h6 span {
  font-size: 20px;
}

main .book .content .col-1 .row-1 .group-1 p,
main .book .content .col-1 .row-1 .group-2 p,
main .book .content .col-1 .row-2 .group-1 p,
main .book .content .col-1 .row-2 .group-2 p {
  font-size: 14px;
  color: #cdcdce;
}

main .book .content .col-2 {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 2rem;
}

main .book .content .col-2 .row-1,
main .book .content .col-2 .row-2,
main .book .content .col-2 .row-3 {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

main .book .content .col-2 .row-1::after,
main .book .content .col-2 .row-2::after,
main .book .content .col-2 .row-3::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #fff;
  padding: 1px;
  width: 40%;
  margin-top: 7.5rem;
}

main .book .content .col-2 .row-1 img,
main .book .content .col-2 .row-2 img,
main .book .content .col-2 .row-3 img {
  width: 35%;
  height: 7rem;
}

main .book .content .col-2 .row-1 .desc-1,
main .book .content .col-2 .row-2 .desc-2,
main .book .content .col-2 .row-3 .desc-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: -5rem;
  width: 40%;
}

main .book .content .col-2 .row-1 .desc-1 h6,
main .book .content .col-2 .row-2 .desc-2 h6,
main .book .content .col-2 .row-3 .desc-3 h6 {
  color: #fff;
  font-size: 22px;
}

main .book .content .col-2 .row-1 .desc-1 h6 span,
main .book .content .col-2 .row-2 .desc-2 h6 span,
main .book .content .col-2 .row-3 .desc-3 h6 span {
  color: #e82c3d;
}

main .book .content .col-2 .row-1 .desc-1 p,
main .book .content .col-2 .row-2 .desc-2 p,
main .book .content .col-2 .row-3 .desc-3 p {
  color: #c2c2c2;
  font-size: 14px;
}

main .book .content .col-2 .row-1 .arrow,
main .book .content .col-2 .row-2 .arrow,
main .book .content .col-2 .row-3 .arrow {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

main .book .content .col-2 .row-1 a i,
main .book .content .col-2 .row-2 a i,
main .book .content .col-2 .row-3 a i {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s ease-in;
}

main .book .content .col-2 .row-1 a i:hover,
main .book .content .col-2 .row-2 a i:hover,
main .book .content .col-2 .row-3 a i:hover {
  color: #e82c3d;
  animation: Shake 0.3s linear;
}

@keyframes Shake {
  0% {
    transform: rotate(8deg);
  }

  25% {
    transform: rotate(-9deg);
  }

  50% {
    transform: rotate(85%);
  }

  75% {
    transform: rotate(-9deg);
  }

  100% {
    transform: rotate(8deg);
  }
}
